@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Modelo de aplicação de login usando o IDP / Gov.br de maneira manual</p>
    <p><a href="Home/Redirect" class="btn btn-primary btn-lg">&nbsp;Entrar com <strong>gov.br</strong>&nbsp;</a></p>
</div>

<div class="row">



</div>