@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Modelo de aplicação de login usando o IDP / Gov.br de maneira manual</p>
    <p><a href="~/pdf/IDP.SP.GOV.BR_Manual de Integração_v.4.pdf" class="btn btn-primary btn-lg">Manual &raquo;</a></p>
</div>

<div class="row">

    <a href="Home/Redirect" id="loginLink" class="my-link br-button buttom blue large primary mt-3 mt-sm-0 ml-sm-3">
        &nbsp;Entrar com <strong>gov.br</strong>&nbsp;
    </a>

</div>